.css_hide {
    display: none !important;
}
.maskBackground {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.registerAndLogin {
    position: fixed;
    left: 40px;
    top:  30px;
    width: 636px;
    height: 346px;
    z-index: 2;

}
.registerAndLogin_titleContainer {
    background-color:darkgray;
    overflow: hidden;
}
.login_title {
    width: 50%;
    float: left;
}
.closeButton {
    float: right;
}
.register_title {
    width: 50%;
    float: left;
}
.registerAndLogin_contentContainer {
    background-color: darkturquoise;
    overflow: hidden;
    height: 316px;
}
.login_content {
    width: 50%;
    height: 100%;
    float: left;
    background-image: url(images/registerAndLogin_contentBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: center;
}
.login_content .validateInput {
    width: 20%;
}
.login_content .showValidate {
    width: 30%;
}
.contentInnerSpace {
    padding: 20px 0;
}
.loginRelated {
    font-size: 2px;
}
.forgetPassword {
    margin-left: 20px;
}
.register_content {
    text-align: center;
    width: 50%;
    height: 100%;
    float: left;
}


.navigationContainer {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: darkblue;
    color: white;
}
.navigation-left-fill {
    float: left;
    width: 20%;
}
.navigation-middle {
    float: left;
    width: 60%;
}
.logo-icon {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-bottom: 3px;
}
.logo-text {
    vertical-align: middle;
    margin-bottom: 3px;
}
.navigationContainer .identityContainer, ul, li {
    display: inline-block;
    list-style-type: none;
}
.navigationContainer li {
    margin-left: 28px;
    padding-left: 17px;
}
.navigationContainer li a {
    color: white;
    text-decoration-line: none;
}
.navigationTabContainer {
    margin-top: 0px;
    margin-bottom: 0px;
}
.identityContainer {
    width: 20%;
    overflow: hidden;
}
.identityContainer span {
    margin-left: 20px;
}
.chouTiContentContainer {
    overflow: hidden;
}
.chouTiContentHead li {
    float: left;
    margin-right: 40px;
}
.chouTiContentHead-middlePart {
    margin: 0 auto;
    width: 60%;
}
.chouTiContentHead .publish {
    float: right;
}
.content-left-fill {
    display: inline-block;
    width: 20%;
    height: 100%;
}
.chouTiContent-middlePart {
    width: 60%;
    margin: 0 auto;
}
.hideTabContent {
    display: none;
}
.newItem {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
}
.floatLeft {
    float: left;
}
.tabContentItem {
    overflow: hidden;
}
.spaceBetween {
    margin-left: 20px;
}
.operateImageCommon {
    display: inline-block;
}
.liked {
    background: url("images/recommend-bff29b548b.png") no-repeat -10px -12px;
    background-size: 44px auto;
    width: 20px;
    height: 20px;
}
.operateTxtCommon {
    vertical-align: 2px;
    margin-left: 6px;
    display: inline-block;
    height: 20px;
}
.likedTxt {
}
.comments {
    background: url(images/comment-d4e0fc5925.png) no-repeat 0px 0px;
    background-size: 18px auto;
    width: 18px;
    height: 18px;
}
.collected {
    background: url("images/save-56845dd49a.png") no-repeat -10px -12px;
    background-size: 44px auto;
    width: 20px;
    height: 20px;
}

